.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.google-signin-button, .google-signin-button:focus {
  background-image: url('../img/google_signin.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 225px;
  height: 50px;
  border: 0;
  outline: none;
}
