.App {
  background: #FCFCFC url(../img/background.png) no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  min-height: 90vh;
}
