body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Open Sans', 'Lato', 'Arial', sans-serif;
  background-color: #FCFCFC;
  color: #333333;
  min-width: 320px;
}

h1 {
  color: #36A9F7;
  font-size: 35px;
}

button {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: salmon;
  border: none;
  }
  button:hover {
    background: lightsalmon;
  }
  .App {
  background: #FCFCFC url(../img/background.png) no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  min-height: 90vh;
}
