.import-page-card {
  display: block;
  position: relative;
  background-color: #FBFBFB;
}

.import-page-card-title {
  height: 40px;
  margin-bottom: 20px;
}

.import-page-folder-title {
  font-weight: 100;
  display: block;
  vertical-align: middle;
  text-align: center;
  padding-top: 6px;
  margin-bottom: 30px;
}

.import-page-folder-title > img {
  height: 27px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.import-page-back-button, .import-page-back-button:focus,
.import-page-back-button:hover, .import-page-back-button:active,
.import-page-back-button:active:focus {
  background-color: #36A9F7;
  border-radius: 100px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  float: left;
  width: 40px;
  height: 40px;
  border: none;
  padding: 6px;
  margin-left: 10px;
  outline: 0;
}

.import-page-back-button > img,
.import-page-folder-file > img {
  width: 25px;
  height: 25px;
}

.import-page-folder-file, .import-page-folder-file:focus,
.import-page-folder-file:hover, .import-page-folder-file:active,
.import-page-folder-file:active:focus {
  border: 0;
  margin: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  outline: 0;
}

.import-page-folder-file > img {
  margin-right: 5px;
}

.import-page-selected-song, .import-page-selected-song:hover,
.import-page-selected-song:active, .import-page-selected-song:focus,
.import-page-selected-song:active:hover, .import-page-selected-song:active:focus,
.import-page-selected-song:active:hover:focus {
  width: stretch;
  text-align: left;
  margin: 5px 20px;
}

.import-page-buttons-wrapper {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.import-page-button {
  display: inline-block;
  color: #FFFFFF;
  outline: none;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.import-page-button > img {
  width: 24px;
  margin-right: 10px;
}

.import-page-button-clear {
  background-color: #E53935;
}

.import-page-button-all {
  background-color: #36A9F7;
}

.import-page-button-submit {
  background-color: #4EE053;
}
