.music-player {
  position: absolute;
  bottom: 0;
  width: stretch;
}

.music-player-buttons-wrapper {
  margin-bottom: 0;
}

.circular-button {
  background-image: linear-gradient(45deg, #36A9F7, #92DCF7);
  border-radius: 100px;
  display: inline-block;
}
