.navbar {
  background-color: #FFFFFF;
  color: #36A9F7;
	border-radius: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  z-index: 999;
}

.navbar-default .navbar-brand {
  padding: 0;
  padding-top: 9px;
  color: #36A9F7;
  cursor: pointer;
}

.navbar-brand > img {
  height: 32px;
  display: inline-block;
  margin: auto 15px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #36A9F7;
}

.navbar-nav > li > a {
  margin: 5px 15px;
  padding: 0;
}

/* Hide background color change when toggle is opened */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
}

.dropdown-toggle > div {
  display: inline-block;
  color: #36A9F7;
  font-size: 18px;
  vertical-align: middle;
}

.caret {
  margin-left: 10px;
  color: #333333;
}

.navbar-user-icon {
  height: 40px;
  display: inline-block;
  border-radius: 50px;
  margin-right: 10px;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #FFFFFF;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  margin-top: 4px;
}

.navbar-toggle {
  float: left;
  margin-top: 16px;
  padding-left: 0;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
  border: none;
}

@media (max-width: 767px) {
  .navbar {
    z-index: 1;
  }

  .navbar-header {
    display: none;
  }

  .dropdown-toggle, .dropdown-menu > li > a {
    float: right;
  }
}
