.sidebar-playlist-item {
  border: 0;
  box-shadow: none;
  background-color: #FCFCFC;
  padding-left: 15px;
}

/*Playlist card*/
.panel-default > .panel-heading {
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  cursor: pointer;
  margin-right: 20px;
  padding: 0;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: 0;
  padding-right: 5px;
}

.sidebar-playlist-title > a {
  padding: 10px 15px;
  display: block;
}

.sidebar-playlist-title > a:hover {
  text-decoration: none;
}

.sidebar-playlist-share {
  width: 22px;
  float: right;
  margin-right: 0;
  margin-top: 2px;
  display: none;
}

.sidebar-playlist-share:focus {
  outline: none;
}

.panel-heading:hover > .sidebar-playlist-title > a > .sidebar-playlist-share {
  display: inline-block;
}

/*Playlist title icon*/
.sidebar-playlist-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.sidebar-song-item {
  cursor: pointer;
  user-select: none;
  padding: 0;
}

.sidebar-song-item > img {
  width: 24px;
  height: 24px;
  margin: 10px
}

.sidebar-song-item > .sidebar-song-item-playing-icon {
  float: right;
  margin-right: 20px;
}

/*Playlist song options*/
.song-item-options {
  text-align: right;
  float: right;
  margin-right: 10px;
  display: none;
  padding: 10px 0;
}

.sidebar-song-item:hover > .song-item-options,
.sidebar-song-item:focus > .song-item-options {
  display: inline-block;
}

.song-item-options > img {
  width: 24px;
  display: inline-block;
  margin: 0 2px;
}

.song-item-options > img:focus {
  outline: none;
}

.popover {
  background-color: #FFFFFF;
  border: none;
  border-radius: 2.5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  padding: 0;
}

.popover-title {
  background-color: #36A9F7;
  border-radius: 0;
  border-top-right-radius: 2.5px;
  border-top-left-radius: 2.5px;
  color: #FFFFFF;
  font-size: 16px;
  padding: 14px;
}

.popover-content {
  padding: 0;
}

.popover-content > .popover-playlist {
  margin: 5px 0;
  padding: 10px 14px;
  user-select: none;
  cursor: pointer;
}

.popover-content > div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
